{% extends 'base.html' %}
{% block title %}
    Todo
{% endblock %}
{% block content %}



<div class="row" style="margin-top:20px; margin-left:20px">
      <div class="col-12">
         <div class="wallpaper-container">
            <img class="wallpaper" src="{{ url_for('static', filename='wallpaper.jpg') }}"></img>
         </div>
      </div>
</div>

<div class="row" style="margin-top:20px; margin-left:20px">
   <div class="col-12">
      <table class="table table-hover table-light">
         <thead>
            <tr>
               <!-- Your Columns HERE -->
               <th scope="col">ID</th>
               <th scope="col">Title</th>
               <th scope="col">Description</th>
               <th scope="col"></th>
            </tr>
         </thead>
         <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in todos %}
            
            <tr>
               <td>{{ item.id }}</td>
               <td>{{ item.title }}</td>
               <td>{{ item.description }}</td>
               <td>
                  <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">Done</button>
                  <button class="btn btn-outline btn-danger" data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{ item.id }}">Delete</button>
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
</div>
{% endblock %}